<h1>Home</h1>

<% if @questions.length >= 1 %>
<ul>
<% @questions.each do |question| %>
  <li><%= link_to truncate(question.description, length: 15), question_path(question) %></li>
<% end %>
</ul>
<% else %>
<p>
  There are no questions.
</p>
<% end %>
