<h1>Home</h1>

<% if @questions.length >= 1 %>
<ul>
<% @questions.each do |question| %>
  <li><%= link_to truncate(question.description, length: 15), question_path(question) %> asked <%= time_ago_in_words(question.created_at) %> ago by <%= User.find(question.user_id).email %></li>
<% end %>
</ul>
<% else %>
<p>
  There are no questions.
</p>
<% end %>
