<h1>Home</h1>

<% if @questions.length > 1 %>
<ul>
<%= @questions.each do |question| %>
  <li><%= truncate(question.description, length: 10) %></li>
<% end %>
</ul>
<% else %>
<p>
  There are no questions.
</p>
<% end %>
